h1 {
  font-family: Arial, Helvetica, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(16, 102, 23);
  font-size: 50px;
  text-align: center;
}
h2 {font-family: Arial, Helvetica, sans-serif;
color:blueviolet;
font-size: 30px;
}
